Package: Surfer
Version: 0.0.1-0
Section: misc
Priority: extra
Architecture: i386
Depends: zlib1g, libjpeg62, libtiff4, libgmp3c2, libgtkmm-2.4-1c2a
Installed-Size: 42000
Maintainer: Christian Stussak, Henning Meyer <surfer@imaginary-exhibition.com>
Homepage: http://surfer.imaginary-exhibition.com
Description: A interactive visualization program for algebraic surfaces created for the IMAGINARY exhibition.

